<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SourceDirectory" value="D:\Documents\DevTest\source"/>
    <add key="TargetDirectory" value="D:\Documents\DevTest\target"/>
  </appSettings>
</configuration>